EVM_PKEY=808ed002c75d00e67885619b550d4b1b514f4c26ce4f93d39e044bbdde15c1b9
COSMOS_MNEMONIC="cruise scene law sea push expose scorpion wire trick repair wave quote task dose inner denial alpha favorite certain blouse motion flash split lunch"